In [28]:
import pandas as pd
import numpy as np
from scipy import stats 
from scipy.stats import zscore

import matplotlib.pyplot as plt

import plotly.express as px
import plotly.graph_objects as go
import plotly

import seaborn as sns

import ipywidgets

import json
import os
import sys
import io
import datetime

# Start by mapping 'games' data in original raw format into dataframe
Manually extracting the data from the website has the data in a 1 column list repeating every 4 rows.
1. Date
2. (team a) vs (Team b) - in Home vs Away order
3. (score) to (score)
4. game_id

In [35]:
df_games = pd.DataFrame(columns = ['GAME_ID', 'DATE', 'SCORE_STR', 'TEAMS_STR'])
df_games

fp_games = ['../data/Grade 6 Girls Soccer - G6G_FALL2022_SCORES_RAW.csv', 
            '../data/Grade 6 Girls Soccer - G6G_SPRING2022_SCORES_RAW.csv']

for fp in fp_games:
    print(fp)
    file1 = open(fp, 'r')
    lines = file1.readlines()

    count = 0
    # Strips the newline character
    for line in lines:
        count += 1
        lineStr = line.strip()
        #print(lineStr)
        if (count % 4) == 1:
            d_dateStr = lineStr
            #print(d_dateStr)
            #d_date = datetime.datetime.strptime(d_dateStr, '%m/%d/%Y')
            d_date = d_dateStr
        elif (count % 4) == 2:
            d_teams = lineStr
        elif (count % 4) == 3:
            d_scores = lineStr
        elif (count % 4) == 0:
            d_gameid = lineStr
            #df_games.append({'GAME_ID' : d_gameid, 'DATE' : d_date, 'SCORE_STR' : d_scores, 'TEAMS_STR' : d_teams}, ignore_index = True) 
            df_games.loc[len(df_games.index)] = [d_gameid, d_date, d_scores, d_teams]
    
    file1.close()

#df_games['DATE']= pd.to_datetime(df_games['DATE'])
df_games['DATE'] = df_games['DATE'].astype('datetime64[ns]')
df_games
#df_games.info()


# 'TEAM_HOME', 'TEAM_AWAY', 'GOALS_HOME', 'GOALS_AWAY', 'PTS_HOME', 'PTS_AWAY']

../data/Grade 6 Girls Soccer - G6G_FALL2022_SCORES_RAW.csv
../data/Grade 6 Girls Soccer - G6G_SPRING2022_SCORES_RAW.csv

,GAME_ID,DATE,SCORE_STR,TEAMS_STR
0,G6GM1G1-28469,2022-09-10,2 to 1,Andover Dunn vs. Peabody Lasers
1,G6GM1G1-28459,2022-09-17,0 to 1,Marblehead MILITIA vs. Andover Dunn
2,G6GM1G1-28458,2022-09-24,4 to 1,Newburyport Blizzard vs. Andover Dunn
3,G6GM1G1-28464,2022-10-01,5 to 3,Andover Dunn vs. Topsfield Masco Vipers
4,G6GM1G1-28473,2022-10-15,3 to 1,Andover Dunn vs. Newburyport Blizzard
...,...,...,...,...
1445,S22G6GC2G3-26473,2022-04-30,1 to 4,Triton HURRICANES vs. Andover Rapinoe
1446,S22G6GC2G3-26467,2022-05-07,3 to 5,Andover Rapinoe vs. Beverly Lynx
1447,S22G6GC2G3-26483,2022-05-14,1 to 6,Andover Rapinoe vs. Newburyport Storm
1448,S22G6GC2G3-26481,2022-05-21,0 to 2,Andover Rapinoe vs. Marblehead ARSENAL
1449,S22G6GC2G3-26455,2022-06-04,3 to 1,Newburyport Storm vs. Andover Rapinoe

In [10]:
for i in range(1,10):
    print(i % 4)

1
2
3
0
1
2
3
0
1